<div class="container">
  <p class="display-3 text-center">Shopping List</p>
  <hr>
  <div class="row">
    <div class="col-12">
      <app-shopping-list-edit/>
      <hr>
      <ul class="list-group">
        <a class="list-group-item"
           style="cursor: pointer"
           *ngFor="let ingredient of ingredients"
           (click)="onIngredientSelected(ingredient.id)"
        >
          {{ ingredient.amount + ' x ' + ingredient.name }}
        </a>
      </ul>
    </div>
  </div>
</div>
